/*GLOBAL*/
*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: MyFont;
  src: url('../font/SF-UI-Text-Regular.otf');
}


body{
  font-family: MyFont;
  font-size: 14px;
  color: #333;
}

.body__login{
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: center;
}

.line{
  margin-top: 6px;
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #fff;
  border-right-color: #e9e9e9;
}



/*HEADER*/
.header{
  height: 60px;
  background-color: rgba(255,255,255,.95);
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

.header__img__webLogo{
  width: 40px;
}



.header__navbar__center .nav-item{
  font-size: 13px;
  margin-right: 5px;
  letter-spacing: 0.2px;
}

.header__navbar__center .nav-item .nav-link{
  color: #000;
}

.header__navbar__center .nav-item .nav-link:hover{
  color: #fb4226;
  transition: all .6s;
}

.header__navbar__right .nav-item .nav-link{
  color: #9b9b9b;
  font-size: 13px;
}

.header__navbar__right .nav-item .nav-link:hover{
  color: #9b9b9b;
}

.header__img__avatar{
  height: auto;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px;
}

.header__location{
  padding-top: 3px;
}

.header .custom-toggler{
  outline: none;
  box-shadow: none;
  border: none;
}

.header .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128,128,128, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*END HEADER*/


/* CAROUSEL */
.carousel {
  position: relative;
}

.carousel .owl-theme .custom-nav {
  position: absolute;
  top: 30%;
  left: 1%;
  right: 1%;
}
.carousel .owl-theme .custom-nav .owl-prev,
.carousel .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  background: none;
  border: none;
  z-index: 100;
}
.carousel .owl-theme .custom-nav .owl-prev i,
.carousel .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.carousel .owl-theme .custom-nav .owl-prev {
  left: 0;
}
.carousel .owl-theme .custom-nav .owl-next {
  right: 0;
}

.carousel .owl-theme .owl-dots {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel .owl-theme .owl-dots .owl-dot span{
  background-color: #cccccc;
  width:12px;
  height: 12px;
}

.carousel .owl-theme  .owl-dot.active span{
  background-color: #fb4226;
}

.carousel .owl-theme .owl-dot:focus{
  outline: none;
}
.carousel .owl-item, .item {
  height: 100vh;
}

.carousel .owl-theme .owl-dots .owl-dot {
  margin: 0 -3px;
}

.carousel__detail{
  display: block;
  max-width: 940px;
  height: 80px;
  position: absolute;
  bottom: 7%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  z-index: 2;
  
}
.carousel__detail .carousel__detail__item__div,.carousel__detail .carousel__detail__item_btn{
  transform: translateY(30px);
}

.carousel__detail .carousel__detail__select{
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    width: 100%;
    background-image: url("../img/dropdown-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 100px;
}

.carousel__detail .line{
  margin-top: 25px;
}
.carousel__detail .btn-black{
  background-color: #4a4a4a;
  border-radius: 4px;
  padding: 10px 25px;
  color: white;
  transform: translateY(-13px);
}


/*END CAROUSEL*/

@media screen and (max-width: 992px){
  /*CAROUSEL*/
 .carousel__detail{
  display: none;
 }
}

@media screen and (min-width: 991px) and (max-width: 1000px){
  /*CAROUSEL*/
  .carousel__detail{
    bottom: 23%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1050px){
  /*CAROUSEL*/
  .carousel__detail{
    bottom: 22%;
  }
}

@media screen and (min-width: 1051px) and (max-width: 1124px){
  /*CAROUSEL*/
  .carousel__detail{
    bottom: 17%;
  }
}

@media screen and (min-width: 1124px) and (max-width: 1150px){
  /*CAROUSEL*/
  .carousel__detail{
    bottom: 15%;
  }
}

@media screen and (max-width: 578px){
  /*CAROUSEL*/
 .carousel{
  display: none;
 }
}

@media screen and (min-width: 579px) and (max-width: 650px){
  /*CAROUSEL*/
  .carousel .owl-theme .custom-nav {
    top: 10%;
  }
  .carousel .owl-theme .owl-dots {
    top:30%;
  }
}

@media screen and (min-width: 651px) and (max-width: 850px){
  /*CAROUSEL*/
  .carousel .owl-theme .custom-nav {
    top: 15%;
  }
  .carousel .owl-theme .owl-dots {
    top:35%;
  }
}

@media screen and (min-width: 851px) and (max-width: 1080px){
  /*CAROUSEL*/
  .carousel .owl-theme .custom-nav {
    top: 20%;
  }
  .carousel .owl-theme .owl-dots {
    top:50%;
  }
}

@media screen and (min-width: 851px) and (max-width: 982px){
  /*HEADER*/
  .header .header__navbar__center .nav-item{
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px){
  /*HEADER*/
  .header .header__navbar__center{
    display: none;
  }

}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .header .header__navbar__center{
    display: block;
  }
  .line {
    margin-top: 0;
    height: 0;
    line-height: 0;
    border-right: none;
    border-right-color: none;
  }
  .header__img__dropdown,.header__img__location{
    display: none;
  }
  .header .navbar-nav .nav-item{
    padding: 10px 15px;
    width: calc(100% - 40px);
    font-size: 18px;
    color: #000;
  }

  #myNav.collapse {
    position: fixed;
    z-index: -1;
    transition: all .6s ease;
    top: 0;
    right: -100%; /* -width of sidebar */
    width: 0;
    height: 100% !important;
    display: block;
    background-color: white;
  }
  
  #myNav.collapsing {
    transition: all .18s ease-in;
    position: fixed;
    top: 0;
    right: -50%;  /* -width of sidebar */
    width: 30%;  /* width of sidebar */
    height: 100% !important;
    display: block;
    background-color: white;
  }
  
  #myNav.collapse.show {
    position: fixed;
    top: 0;
    right: -50%;
    background-color: white;
    transition: all .6s ease;
  }


}





