/*GLOBAL*/
*{
  padding: 0;
  margin: 0;
}

.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

@font-face {
  font-family: MyFont;
  src: url('../font/SF-UI-Text-Regular.otf');
}


body{
  font-family: MyFont;
  font-size: 14px;
  color: #333;
}

.body__login{
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: center;
}

.line{
  margin-top: 6px;
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #fff;
  border-right-color: #e9e9e9;
}

a,a:hover{
  text-decoration: none;
}

.hrLine{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid gray;
}

.clear{
  clear: both;
}




/*HEADER*/
.header{
  height: 60px;
  background-color: rgba(255,255,255,.95);
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

.header__img__webLogo{
  width: 40px;
}



.header__navbar__center .nav-item{
  font-size: 13px;
  margin-right: 5px;
}

.header__navbar__center .nav-item .nav-link{
  color: #000;
}

.header__navbar__center .nav-item .nav-link:hover{
  color: #fb4226;
  transition: all .6s;
}

.header__navbar__right .nav-item .nav-link{
  color: #9b9b9b;
  font-size: 13px;
}

.header__navbar__right .nav-item .nav-link:hover{
  color: #9b9b9b;
}

.header__img__avatar{
  height: auto;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px;
}

.header__location{
  padding-top: 3px;
}

.header .custom-toggler{
  outline: none;
  box-shadow: none;
  border: none;
}

.header .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128,128,128, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*END HEADER*/


/* CAROUSEL */
.carousel__image .slick-prevs {
  background-image: url("../img/back-session.png");
  left: 15px;
}

.carousel__item__image{
  cursor: pointer;
}


.carousel__image .slick-nexts {
  background-image: url("../img/next-session.png");
  right: 15px;
}

.carousel__image .slick-arrow{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 50px;
  height: 100px;
  z-index: 2;
  opacity: .5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.carousel__image .slick-dots{
  position: absolute;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0;
}


.carousel__image .slick-dots li {
  display: inline-block;
  margin-right: -3px;
}

.carousel__image .slick-dots li button {
  background-color: #d8d8d8;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  border: none;
  color: transparent;
}

.carousel__image .slick-dots li button:before {
  content: '';
	font-family: none;
  font-size: 0;
}

.carousel__image .slick-dots li.slick-active button{
  background-color: #fa5238;
}

.carousel__detail{
  display: block;
  max-width: 940px;
  margin: auto;
  height: 80px;
  position: absolute;
  bottom: 5%;
  width: 100%;
  left: 50%;
  transform: translate(-50%,50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  z-index: 2;
}

.carousel__detail .carousel__detail__item__div,.carousel__detail .carousel__detail__item_btn{
  transform: translateY(30px);
}
.carousel__detail .carousel__detail__select{
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    width: 100%;
    background-image: url("../img/dropdown-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 100px;
}
.carousel__detail .line{
  margin-top: 25px;
}
.carousel__detail .btn-black{
  background-color: #4a4a4a;
  border-radius: 4px;
  padding: 10px 25px;
  color: white;
  transform: translateY(-13px);
}






/* FOOTER */
footer{
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;
}

.footer{
  width:80%;
  margin: auto;
}

.footer__title {
  color: #fff;
  font-size: 80%;
}

.footer__tix__link{
  font-size: 12px;
  font-size: 80%;
  font-weight: 700;
  white-space: nowrap;
  color: #949494;
  display: block;
  transition: all .2s;
  line-height: 2.3;
}

.footer__tix__link:hover{
  text-decoration: none;
  color: white;
}

.footer__dt__item{
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}


.footer__dt__image{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  background-color: white;
  transition: all .2s;
}

.footer__dt__image:hover{
  opacity: 0.7;
}

.footer__mb__icon{
  background: 0 0;
  height: 30px;
  width: auto;
  margin: 5px;
}

.copyright__image{
  text-align: center;
  padding: 0;
}


.copyright__image__icon{
  width: 80px;
  height: auto;
  border-radius: 8px;
}


.copyright__param{
  color: #fff;
  white-space: nowrap;
  font-size: 70%;
}

.copyright__param span{
  display: block;
  line-height: 1.8;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

.copyright__param span:first-child{
  color: #fff;
}

.copyright__image__bct{
  width: 130px;
  float: right;
}


/* END FOOTER */


/* MOBILE */
.mobile{
  padding: 120px 0 80px 0;
  background: url("../img/backapp.jpg");
  background-size: contain;
}

.mobile__container{
  width:80%;
  margin: auto;
}

.mobile__text__title{
  color: #fff;
  font-weight: 700;
  font-size: xx-large;
}

.mobile__text__small{
  color: #fff;
  font-size: medium;
}

.btn-orange{
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff;
  font-size: medium;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.btn-orange:hover{
  color: #fff;
}

.btn-orange:active{
  box-shadow: none;
}

.mobile__text__phone{
  color: #fff;
  padding-top: 10px;
}   

.mobile__text__phone a{
  color:#fff;
}

.mobile__image {
  padding: 0 28%;
}

.mobile__carousel{
  position: relative;
  padding: 0;
}

.mobile__slider{
  position: absolute;
  padding: 1.5% 29.3% 0 29.3%;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile__slider .slick-list{
  border-radius: 20px;
}

/* END MOBILE */


/* NEWS */
.news{
  background: url("../img/back-news.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 75px;
}

.news__container{
  width:80%;
  /* margin: auto; */
}

.news__title{
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  transition: all .2s;
  cursor: pointer;
  font-weight: 500;
}

.news__title:hover{
  font-size: 24px;
}


.news__title.news__active{
  font-size: 24px;
  color: #fa5238;
}

.news__item1__image img{
  border-radius: 4px;
}

.news__item1__title{
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
  transition: color .2s;
  height: 50px;
  display: block;
  overflow:hidden;
  text-overflow:ellipsis;
}

.news__item1__title:hover{
  color: #fa5238;
}

.news__item1__detail{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: justify;
  font-size: 13px;
  color: #4a4a4a;
  padding: 0 5px 0 0;
  line-height: 19px;
  letter-spacing: .17;
  overflow: hidden;
  height: 55px;
  margin-bottom: 15px;
  overflow:hidden;
  text-overflow:ellipsis;
}

.news__item__icon{
  width: 100%;
  height: 25px;
}

.news__wrapIcon{
  display: inline-table;
  margin-right: 25px;
  cursor: pointer;
}

.news__item2__icon{
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 2px;
  height: auto;
  width: 18px;
  transition: all .2s;
}

.news__item2__icon:hover {
  transform: scale(1.1)!important;
}

.news__item__icon__detail{
  color: #bbb;
  font-size: 12px;
  line-height: 1;
  display: table-cell;
  vertical-align: middle;
}

.news__item3__image{
  float: left;
  margin-right: 10px;
}

.news__item3__small{
  border-radius: 4px;
  height: 50px;
  width: 50px;
}

.news__item3__detail{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  height: 40px;
  font-size: 16px;
  transition: color .2s;
  margin-bottom: 5px;
}

.news__item3__detail:hover{
  color: #fa5238;
}

.btn-xem{
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  padding: 7px 25px;
  transition: all .2s;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  display: block;
  transition: all 0.2s;
}

.btn-xem:hover{
  background-color: #fa5238;
  color: #fff;
}
/* END NEWS */

/* FILMS2 */
.films2__container{
  width: 95%;
  margin: auto;
}

.films2__detail{
  cursor: pointer;
}

.films2__detail{
  margin-bottom: 10px;
  position: relative;
}

.films2__image{
  width: 100%;
  border-radius: 4px;
}

.films2__age{
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.films2__ratting{
  font-size: 16px;
  background-color: rgba(12,27,54,.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  width: 54px;
  text-align: center;
  line-height: 1.1;
  height:40px;
}

.films2__points{
  text-align: center;
  transform: scaleY(1.2);
}

.films2__star{
  display: inline-block;
  max-width: 8px;
  border-radius: 4px;
}

.films2__starhalf{
  display: inline-block;
  max-width: 10px;
}


/*END FILMS2*/


/*FILMS 1 */
.films1__container{
  max-width: 940px;
  margin: auto;
}

.films1__image{
  border-radius: 4px;
}

.films1__item{
  padding: 20px 10px 0;
  margin-bottom: 25px;
  cursor: pointer;
  position: relative;
}


.films1__item__age{
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

.films1__item__title{
  font-size: 16px;
  color: #000;
  line-height: 22px;
}

.films1__item__time{
  font-size: 13px;
  color: #4a4a4a;
  margin-bottom: 15px;
  margin-top: 8px;
}

.films1__ratting{
  font-size: 16px;
  background-color: rgba(12,27,54,.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  width: 54px;
  text-align: center;
  line-height: 1.1;
  height:40px;
}

.films1__points{
  text-align: center;
  transform: scaleY(1.2);
}

.films1__star{
  display: inline-block;
  max-width: 8px;
  border-radius: 4px;
}

.films1__starhalf{
  display: inline-block;
  max-width: 10px;
}





/* END FILMS 1 */








@media screen and (max-width: 575.98px){
  /*CAROUSEL*/
 .carousel{
  display: none;
 }

 .news__item1__title{
    margin-bottom: 5px;
    height: 20px;
  }


}

@media screen and (max-width: 767px){
  /*CAROUSEL*/
  .carousel{
    display: none;
  }

}



@media screen and (max-width: 992px){
  /* CAROUSEL*/ 
  .carousel__detail{
    display: none;
  }

   /* FOOTER */
   .footer .hideOnMobile{
    display: none;
  }

  .footer .textCenter{
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .footer .textCenter a{
    display: inline-block;
    margin: 5px;
  }

  .footer .copyright__image__icon{
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  .copyright__param span{
    white-space: initial;
    text-align: center;
  }
  .copyright__image__bct{
    display: block;
    margin: auto;
    float: none;
  }

  /* MOBILE */
  .mobile{
    padding-top: 70px;
  }
  
  .mobile__text__title{
    font-size: 1.8em;
  }
  
  .mobile__text__small{
    font-size: 1em;
    margin: 2px;
  }

  /* NEWS */
  .news__container{
    width:95%;
  }

  /* MOBILE */
  .mobile__container{
    width:95%;
  }

}


@media screen and (min-width: 500px) and (max-width: 767px) {
  .header .header__navbar__center{
    display: block;
  }
  .line {
    margin-top: 0;
    height: 0;
    line-height: 0;
    border-right: none;
    border-right-color: none;
  }
  .header__img__dropdown,.header__img__location{
    display: none;
  }
  .header .navbar-nav .nav-item{
    padding: 10px 15px;
    width: calc(100% - 40px);
    font-size: 18px;
    color: #000;
  }


  #myNav.collapse {
    position: fixed;
    z-index: -1;
    transition: all .6s ease;
    top: 0;
    right: -100%; /* -width of sidebar */
    width: 0;
    height: 100% !important;
    display: block;
    background-color: white;
  }
  
  #myNav.collapsing {
    transition: all .18s ease-in;
    position: fixed;
    top: 0;
    right: -50%;  /* -width of sidebar */
    width: 30%;  /* width of sidebar */
    height: 100% !important;
    display: block;
    background-color: white;
  }
  
  #myNav.collapse.show {
    position: fixed;
    top: 0;
    right: -50%;
    background-color: white;
    transition: all .6s ease;
  }

  .news__title{
    font-size: 16px;
  }

  .news__item3__detail{
    font-size: 14px;
  }



}







