/*GLOBAL*/
*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: MyFont;
  src: url('../font/SF-UI-Text-Regular.otf');
}


body{
  font-family: MyFont;
  font-size: 14px;
  color: #333;
}

.body__login{
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: center;
}

.line{
  margin-top: 6px;
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #fff;
  border-right-color: #e9e9e9;
}

a,a:hover{
  text-decoration: none;
}

.hrLine{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid gray;
}




/*HEADER*/
.header{
  height: 60px;
  background-color: rgba(255,255,255,.95);
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}

.header__img__webLogo{
  width: 40px;
}



.header__navbar__center .nav-item{
  font-size: 13px;
  margin-right: 5px;
  letter-spacing: 0.2px;
}

.header__navbar__center .nav-item .nav-link{
  color: #000;
}

.header__navbar__center .nav-item .nav-link:hover{
  color: #fb4226;
  transition: all .6s;
}

.header__navbar__right .nav-item .nav-link{
  color: #9b9b9b;
  font-size: 13px;
}

.header__navbar__right .nav-item .nav-link:hover{
  color: #9b9b9b;
}

.header__img__avatar{
  height: auto;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px;
}

.header__location{
  padding-top: 3px;
}

.header .custom-toggler{
  outline: none;
  box-shadow: none;
  border: none;
}

.header .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128,128,128, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*END HEADER*/


/* CAROUSEL */
/* .carousel {
  position: relative;
}

.carousel .owl-theme .custom-nav {
  position: absolute;
  top: 30%;
  left: 1%;
  right: 1%;
}
.carousel .owl-theme .custom-nav .owl-prev,
.carousel .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  background: none;
  border: none;
  z-index: 100;
}
.carousel .owl-theme .custom-nav .owl-prev i,
.carousel .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.carousel .owl-theme .custom-nav .owl-prev {
  left: 0;
}
.carousel .owl-theme .custom-nav .owl-next {
  right: 0;
}

.carousel .owl-theme .owl-dots {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel .owl-theme .owl-dots .owl-dot span{
  background-color: #cccccc;
  width:12px;
  height: 12px;
}

.carousel .owl-theme  .owl-dot.active span{
  background-color: #fb4226;
}

.carousel .owl-theme .owl-dot:focus{
  outline: none;
}
.carousel .owl-item, .item {
  height: 100vh;
}

.carousel .owl-theme .owl-dots .owl-dot {
  margin: 0 -3px;
}

.carousel__detail{
  display: block;
  max-width: 940px;
  height: 80px;
  position: absolute;
  bottom: 7%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  z-index: 2;
  
}
.carousel__detail .carousel__detail__item__div,.carousel__detail .carousel__detail__item_btn{
  transform: translateY(30px);
}

.carousel__detail .carousel__detail__select{
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    width: 100%;
    background-image: url("../img/dropdown-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 100px;
}

.carousel__detail .line{
  margin-top: 25px;
}
.carousel__detail .btn-black{
  background-color: #4a4a4a;
  border-radius: 4px;
  padding: 10px 25px;
  color: white;
  transform: translateY(-13px);
} */

/* END CAROUSEL */

/* FOOTER */
footer{
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;
}

.footer{
  width:80%;
  margin: auto;
}

.footer__title {
  color: #fff;
  font-size: 80%;
}

.footer__tix__link{
  font-size: 12px;
  font-size: 80%;
  font-weight: 700;
  white-space: nowrap;
  color: #949494;
  display: block;
  transition: all .2s;
  line-height: 2.3;
}

.footer__tix__link:hover{
  text-decoration: none;
  color: white;
}

.footer__dt__item{
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}


.footer__dt__image{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  background-color: white;
  transition: all .2s;
}

.footer__dt__image:hover{
  opacity: 0.7;
}

.footer__mb__icon{
  background: 0 0;
  height: 30px;
  width: auto;
  margin: 5px;
}

.copyright__image{
  text-align: center;
  padding: 0;
}


.copyright__image__icon{
  width: 80px;
  height: auto;
  border-radius: 8px;
}


.copyright__param{
  color: #fff;
  white-space: nowrap;
  font-size: 70%;
}

.copyright__param span{
  display: block;
  line-height: 1.8;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

.copyright__param span:first-child{
  color: #fff;
}

.copyright__image__bct{
  width: 130px;
  float: right;
}


/* END FOOTER */


/* MOBILE */
.mobile{
  padding: 120px 0 80px 0;
  background: url("../img/backapp.jpg");
  background-size: contain;
}

.mobile__container{
  width:80%;
  margin: auto;
}

.mobile__text__title{
  color: #fff;
  font-weight: 700;
  font-size: xx-large;
}

.mobile__text__small{
  color: #fff;
  font-size: medium;
}

.btn-orange{
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff;
  font-size: medium;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.btn-orange:hover{
  color: #fff;
}

.btn-orange:active{
  box-shadow: none;
}

.mobile__text__phone{
  color: #fff;
  padding-top: 10px;
}   

.mobile__text__phone a{
  color:#fff;
}

.mobile__image {
  padding: 0 28%;
}

.mobile__carousel{
  position: relative;
  padding: 0;
}

.mobile__slider{
  position: absolute;
  padding: 1.5% 29.3% 0 29.3%;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile__slider .slick-list{
  border-radius: 20px;
}

/* END MOBILE */



@media screen and (max-width: 575.98px){
  /*CAROUSEL*/
 /* .carousel{
  display: none;
 } */
}

@media screen and (max-width: 992px){
  /*CAROUSEL*/
 /* .carousel__detail{
  display: none;
 } */

   /* FOOTER */
   .footer .hideOnMobile{
    display: none;
  }

  .footer .textCenter{
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .footer .textCenter a{
    display: inline-block;
    margin: 5px;
  }

  .footer .copyright__image__icon{
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  .copyright__param span{
    white-space: initial;
    text-align: center;
  }
  .copyright__image__bct{
    display: block;
    margin: auto;
    float: none;
  }

  /* MOBILE */
  .mobile{
    padding-top: 70px;
  }
  
  .mobile__text__title{
    font-size: 1.8em;
  }
  
  .mobile__text__small{
    font-size: 1em;
    margin: 2px;
  }
  

}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .header .header__navbar__center{
    display: block;
  }
  .line {
    margin-top: 0;
    height: 0;
    line-height: 0;
    border-right: none;
    border-right-color: none;
  }
  .header__img__dropdown,.header__img__location{
    display: none;
  }
  .header .navbar-nav .nav-item{
    padding: 10px 15px;
    width: calc(100% - 40px);
    font-size: 18px;
    color: #000;
  }

  #myNav.collapse {
    position: fixed;
    z-index: -1;
    transition: all .6s ease;
    top: 0;
    right: -100%; /* -width of sidebar */
    width: 0;
    height: 100% !important;
    display: block;
    background-color: white;
  }
  
  #myNav.collapsing {
    transition: all .18s ease-in;
    position: fixed;
    top: 0;
    right: -50%;  /* -width of sidebar */
    width: 30%;  /* width of sidebar */
    height: 100% !important;
    display: block;
    background-color: white;
  }
  
  #myNav.collapse.show {
    position: fixed;
    top: 0;
    right: -50%;
    background-color: white;
    transition: all .6s ease;
  }


}





